<div class="container">
   <div class="row">
      <div class="col text-center">
         <img src="img/fadhlan.jpg" alt="Fadhlan Satrio" class="img-thumbnail rounded-circle" width="200">
         <h1 class="display-4">Fadhlan Satrio</h1>
         <p class="lead">Programmer | Photographer</p>
      </div>
   </div>
</div>
